# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/

# JavaScript / Node
node_modules/
dist/
coverage/

# Logs
*.log
